// body {
//   &::after {
//     width: 100%;
//     position: absolute;
//     height: 100%;
//     opacity: 0.5;
//     content: "";
//     background-color: black;
//     z-index: 9;
//     top: 0;
//     left: 0;
//   }
// }

.nav__profile {
  position: relative;
  &::after {
    content: "";
    width: 100%;
    opacity: 0;
    position: absolute;
    height: 2px;
    border-radius: 20px;
    background-color: black;
    bottom: -1rem;
    transition: all 0.5s;
  }

  &:hover {
    &::after {
      opacity: 1;
    }
  }
}

.button--primary {
  transition: all 0.5s;
  &:hover {
    color: black;
  }
}

.collection__left-section {
  display: flex;
  width: 50%;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none !important;
}

.collection__right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center !important;
  text-decoration: none !important;
  align-items: center;
  row-gap: 1rem;
  text-transform: uppercase;
}

.mini-collection {
  &__item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none !important;
    flex: 1;
    text-align: center;
    text-transform: uppercase;
  }
}

.nav__item-wrapper {
  column-gap: 1rem;
  .nav__search {
    text-decoration: none !important;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      bottom: -1rem;
      left: 0;
      height: 2px;
      background-color: black;
      transition: all 0.5s;
      opacity: 0;
      width: 100%;
    }

    &:hover {
      &::after {
        opacity: 1;
      }
    }
  }
}

.search__search-product {
  column-gap: 2rem;
}
